<div class="flex flex-col items-center justify-center min-h-screen p-4">
    <h2 class="text-7xl mb-3 font-pirata-one text-[#033A44]">SafeWaters</h2>
    <div class="flex flex-col items-center bg-white p-4 rounded-lg shadow-md w-full max-w-md relative">
        @if (loading()) {
          <div class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-80 z-10 rounded-lg">
            <mat-progress-spinner diameter="100" mode="indeterminate"></mat-progress-spinner>
          </div>
        }
        <h3 class="text-2xl mb-3">Restablecer contraseña</h3>

        <form [formGroup]="emailForm()" class="w-full">
            <div class="mb-1">
                
                <mat-form-field class="w-full mb-3" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hideP() ? 'password' : 'text'" formControlName="password" />
                    <mat-icon matPrefix>password</mat-icon>
                    <button mat-icon-button matSuffix (click)="clickEventP($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideP()">
                        <mat-icon>{{hideP() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (emailForm().get('password')?.hasError('required')) {
                    <mat-error>Contraseña requerida</mat-error>
                    } @else if (emailForm().get('password')?.hasError('minlength')) {
                    <mat-error>La contraseña debe tener al menos 8 caracteres</mat-error>
                    } @else if (emailForm().get('password')?.hasError('hasUpperCase')) {
                    <mat-error>La contraseña debe tener al menos una letra mayúscula</mat-error>
                    } @else if (emailForm().get('password')?.hasError('hasLowerCase')) {
                    <mat-error>La contraseña debe tener al menos una letra minúscula</mat-error>
                    } @else if (emailForm().get('password')?.hasError('hasDigit')) {
                    <mat-error>La contraseña debe tener al menos un número</mat-error>
                    } @else if (emailForm().get('password')?.hasError('hasSpecialCharacter')) {
                    <mat-error>La contraseña debe tener al menos un carácter especial</mat-error>
                    } @else if (emailForm().get('password')?.hasError('hasNoSpaces')) {
                    <mat-error>La contraseña no debe contener espacios</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="w-full mb-3" appearance="fill">
                    <mat-label>Confirmar Contraseña</mat-label>
                    <input matInput [type]="hideConfP() ? 'password' : 'text'" formControlName="confirmPassword" />
                    <mat-icon matPrefix>password</mat-icon>
                    <button mat-icon-button matSuffix (click)="clickEventConfP($event)"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfP()">
                        <mat-icon>{{hideConfP() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (emailForm().get('password')?.value !== emailForm().get('confirmPassword')?.value) {
                    <mat-error>
                        Las contraseñas no coinciden
                    </mat-error>
                    }
                </mat-form-field>

            </div>

            <button mat-flat-button class="w-full rounded-lg mb-4" (click)="onSubmitNewPassword()" [disabled]="loading()">
                Restablecer contraseña
            </button>

        </form>
    </div>
</div>